
.wrapper, #inputArea{
  margin: 10px 20px 0 20px;
  padding: 15px;

}
#img{
  width:140px;
  height: 140px;

}
#showArea{
  border: 2px solid #afafaf;
  padding-top: 20px;
}

#FinalTotalPrice{
  display: none;
}

#logo{
 width:100px;
 height: 100px;

}
.error{
  color: red;
}
#add{
  margin-left: 20px;
  margin-bottom: 20px;
}
